.message-form {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-top: 20px;
}

label:first-child {
  margin-top: 10px;
}

.message-form input,
textarea {
  font-size: 1.5rem;
  background-color: #060c21;
  color: white;
}

textarea {
  width: 100%;
  resize: none;
}

#sendbutton {
  cursor: pointer;
  background-color: #8be479;
  color: #060c21;
}

@media (min-width: 761px) {
  .message-form {
    width: 700px;
  }
}
