#contact {
  padding-bottom: 10vh;
  font-size: 1.5rem;
}

.highlight {
  color: lightgreen;
}

#contact a {
  color: white;
  padding: 10px;
  font-size: 5rem;
}

#github:hover {
  color: #333;
}

#linkedin:hover {
  color: #2867b2;
}
